/**
 * BUTTON

 * Container for one or many <button>
 *
 */

.button {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $button-height;
  margin: 0;
  background-color: $white;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  color: $dk-blue;

  // &:disabled {
  //   background-color: $lt-gray;
  // }

  // Modifiers
  // .button--is-picked
  &--is-picked {
    border: $border-picked $dk-blue;
  }
  // .button--correct-pick
  &--correct-pick {
    background-color: $yellow;
  }
  // .button--incorrect-pick
  &--incorrect-pick {
    background-color: $gray;
  }
  // .button--previous-week
  &--previous-week {
    max-width: 50%;
  }
  // .button--next-week
  &--next-week {
    max-width: 50%;
    margin-left: 50%;
  }
  
  // Elements
  // .button__group
  &__group {
    position: relative;
    display: flex;
    height: $button-height;
    margin-top: $padding-3;
    border-top: $border $dk-blue;
    
    // Modifiers
    // .button__group--horizontal
    &--horizontal {
      & > .button {
        border-bottom: $border $dk-blue;
        & + .button {
          border-left: $border $dk-blue;
        }
        // &:last-of-type {
        //   margin-right: 50%;
        // }
        & ~ .button.button--next-week {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
    // .button__group--vertical
    &--vertical {
      flex-direction: column;
      height: auto;
      min-height: $button-height;
      
      & > .button {
        & + .button {
          border-top: $border $dk-blue;
        }
        &:last-of-type {
          border-bottom: $border $dk-blue;
        }
      }
    }
  }
}