/**
 * GAME

 * Each <Game> in the list of games
 *
 * TODO Bring in team logo svgs
 * TODO Style teams
 * TODO Style LIVE games
 * TODO Style FINAL games
 * TODO Add score to final games
 * TODO Add % split
 * TODO Add individual breakdown of picks on click
 * 
 */

.game {
  display: flex;
  justify-content: space-between;

  // Elements
  // .game__group
  &__group {
    & > .text {
      border-bottom: $border $dk-blue;
    }
    .button {
      padding: 0 $padding-1;
      &__group {
        border-top: none;
        margin-top: 0;
      }
    }
  }
}
