/**
 * GAME

 * Each <Game> in the list of games
 *
 * TODO Bring in team logo svgs
 * TODO Style teams
 * TODO Style LIVE games
 * TODO Style FINAL games
 * TODO Add score to final games
 * TODO Add % split
 * TODO Add individual breakdown of picks on click
 * 
 */

.game {
  display: flex;
  justify-content: space-between;
  margin-right: -$padding-3;
  margin-left: -$padding-3;

  & > .button__group {
    margin-top: 0;
  }
  
  // Elements
  // .game__group
  &__group {
    & > .game + .game {
      margin-top: $padding-1;
    }
  }
  // .game__input
  &__input {
    display: flex;
    align-items: flex-end;
    margin-bottom: $padding-1;

    .input {
      flex: 1 1 auto;

      &[type='checkbox'] {
        margin-right: 5px;
        margin-bottom: 13px;
      }
      
      & + .input { margin-left: 5px; }
    }
  }
}
