/**
 * RUNNER

 * Middle-ground color that runs down the background
 *
 */

.runner {
  flex: 1 1 auto;
  background-color: $white;
  width: calc(100% - #{$padding-8});
  border-right: $border $dk-blue;
  border-left: $border $dk-blue;

  // Modifiers
  // .runner--with-bottom-border
  &--with-bottom-border {
    border-bottom: $border $dk-blue;
  }
}
