/**
 * TEAM

 * Any functionless text on screen
 *
 */

.team {
  position: relative;
  height: $team-height;
  border: $border $dk-blue;
  max-width: calc(50vw - 35px); /* 0.5 * (100vw - (80[runner] + 50[picksplit - 60[game])) */

  // Modifiers
  // .team--is-away
  &--is-away {
    justify-content: flex-end;
    padding-right: $padding-1;
    border-top-left-radius: $team-height / 2;
    border-bottom-left-radius: $team-height / 2;
  }
  // .team--is-home
  &--is-home {
    padding-left: $padding-1;
    border-top-right-radius: $team-height / 2;
    border-bottom-right-radius: $team-height / 2;
  }
  // .team--is-picked
  &--is-picked {
    border: $border-picked $dk-blue !important;
  }
  // .team--is-correct
  &--is-correct {
    background-color: $yellow;
  }
  // .team--is-incorrect
  &--is-incorrect {
    background-color: $gray;
  }
}
